In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
rainfall_path = "/content/drive/MyDrive/Colab Notebooks/edunet/district wise rainfall normal.csv"
water_path    = "/content/drive/MyDrive/Colab Notebooks/edunet/water_dataX.csv"

In [5]:
import pandas as pd
import numpy as np

In [9]:
rain = pd.read_csv(rainfall_path)
# water = pd.read_csv(water_path)
water = pd.read_csv(water_path, encoding='latin1')  # or try 'I-SO8859-1' or 'cp1252'
print("✅ Datasets Loaded Successfully")

✅ Datasets Loaded Successfully

In [10]:
print("\n--- Rainfall Dataset Info ---")
print(rain.info())

--- Rainfall Dataset Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641 entries, 0 to 640
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STATE_UT_NAME  641 non-null    object
 1   DISTRICT       641 non-null    object
 2   JAN            641 non-null    float64
 3   FEB            641 non-null    float64
 4   MAR            641 non-null    float64
 5   APR            641 non-null    float64
 6   MAY            641 non-null    float64
 7   JUN            641 non-null    float64
 8   JUL            641 non-null    float64
 9   AUG            641 non-null    float64
 10  SEP            641 non-null    float64
 11  OCT            641 non-null    float64
 12  NOV            641 non-null    float64
 13  DEC            641 non-null    float64
 14  ANNUAL         641 non-null    float64
 15  Jan-Feb        641 non-null    float64
 16  Mar-May        641 non-null    float64
 17  Jun-Sep        641 non-null    float64
 18  Oct-Dec        641 non-null    float64
dtypes: float64(17), object(2)
memory usage: 95.3+ KB
None

In [11]:
print("\n--- Rainfall Dataset Description ---")
print(rain.describe())

--- Rainfall Dataset Description ---
              JAN         FEB         MAR         APR         MAY  \
count  641.000000  641.000000  641.000000  641.000000  641.000000
mean    18.355070   20.984399   30.034789   45.543214   81.535101
std     21.082806   27.729596   45.451082   71.556279  111.960390
min      0.000000    0.000000    0.000000    0.000000    0.900000
25%      6.900000    7.000000    7.000000    5.000000   12.100000
50%     13.300000   12.300000   12.700000   15.100000   33.900000
75%     19.200000   24.100000   33.200000   48.300000   91.900000
max    144.500000  229.600000  367.900000  554.400000  733.700000

               JUN          JUL          AUG         SEP         OCT  \
count   641.000000   641.000000   641.000000  641.000000  641.000000
mean    196.007332   326.033697   291.152262  194.609048   90.446334
std     196.556284   221.364643   152.647325   99.830540   74.990685
min       3.800000    11.600000    14.100000    8.600000    3.100000
25%      68.800000   206.400000   194.600000  128.800000   34.300000
50%     131.900000   293.700000   284.800000  181.300000   62.600000
75%     226.600000   374.800000   358.100000  234.100000  130.200000
max    1476.200000  1820.900000  1522.100000  826.300000  517.700000

              NOV         DEC       ANNUAL     Jan-Feb      Mar-May  \
count  641.000000  641.000000   641.000000  641.000000   641.000000
mean    34.117473   18.150858  1346.969579   39.339470   157.113105
std     59.371274   32.711009   838.878874   47.212773   213.445888
min      1.200000    0.000000    94.600000    0.000000     1.500000
25%      6.600000    5.300000   830.400000   14.700000    27.800000
50%     12.900000    7.900000  1116.200000   27.700000    67.200000
75%     32.300000   14.900000  1530.900000   41.100000   172.400000
max    475.100000  297.700000  7229.300000  335.300000  1256.500000

          Jun-Sep      Oct-Dec
count   641.00000   641.000000
mean   1007.80234   142.714665
std     629.33261   148.951752
min      39.60000     5.600000
25%     625.40000    51.600000
50%     896.60000    86.700000
75%    1193.80000   175.200000
max    5228.00000  1048.500000

In [12]:
print("\n--- Rainfall Missing Values ---")
print(rain.isnull().sum())

--- Rainfall Missing Values ---
STATE_UT_NAME    0
DISTRICT         0
JAN              0
FEB              0
MAR              0
APR              0
MAY              0
JUN              0
JUL              0
AUG              0
SEP              0
OCT              0
NOV              0
DEC              0
ANNUAL           0
Jan-Feb          0
Mar-May          0
Jun-Sep          0
Oct-Dec          0
dtype: int64

In [13]:
print("\n--- Water Dataset Info ---")
print(water.info())

--- Water Dataset Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1991 entries, 0 to 1990
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   STATION CODE                      1991 non-null   object
 1   LOCATIONS                         1991 non-null   object
 2   STATE                             1991 non-null   object
 3   Temp                              1991 non-null   object
 4   D.O. (mg/l)                       1991 non-null   object
 5   PH                                1991 non-null   object
 6   CONDUCTIVITY (µmhos/cm)           1991 non-null   object
 7   B.O.D. (mg/l)                     1991 non-null   object
 8   NITRATENAN N+ NITRITENANN (mg/l)  1991 non-null   object
 9   FECAL COLIFORM (MPN/100ml)        1991 non-null   object
 10  TOTAL COLIFORM (MPN/100ml)Mean    1991 non-null   object
 11  year                              1991 non-null   int64
dtypes: int64(1), object(11)
memory usage: 186.8+ KB
None

In [14]:
print("\n--- Water Dataset Description ---")
print(water.describe())

--- Water Dataset Description ---
              year
count  1991.000000
mean   2010.038172
std       3.057333
min    2003.000000
25%    2008.000000
50%    2011.000000
75%    2013.000000
max    2014.000000

In [15]:
print("\n--- Water Dataset Missing Values ---")
print(water.isnull().sum())

--- Water Dataset Missing Values ---
STATION CODE                        0
LOCATIONS                           0
STATE                               0
Temp                                0
D.O. (mg/l)                         0
PH                                  0
CONDUCTIVITY (µmhos/cm)             0
B.O.D. (mg/l)                       0
NITRATENAN N+ NITRITENANN (mg/l)    0
FECAL COLIFORM (MPN/100ml)          0
TOTAL COLIFORM (MPN/100ml)Mean      0
year                                0
dtype: int64